.box-content-post{
     
   background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

   box-shadow: inset 0px 0px 5px #000;
    padding: 10px;
    width: 630px;
    margin-bottom: 4px;
    
}
.box-content-body{
    background: #111;
    padding: 10px;
    margin-top: -3px;
}
.box-content-body a{
       line-height: 20px;
}
.box-content-body a:hover{
     color: #d2ffff;
     text-shadow: 0px 0px 3px #00ffff;
     text-decoration: none;
     border-bottom: 1px dotted #80ffff;
    
}